{% extends "home.html" %}

{% block bodyblock %}
<h2>Please Select A Vendor</h2>

{% for vendor in vendorList %}
<div class="col-md-3 vendor-container">
  <a href="{{urlPrefix}}{{stadium.name}}/{{vendor.name}}/">
    <div class="vendor-container-top">
    {% if vendor.profile_image %} 
    <img class="img-responsive item-image" src="{{vendor.profile_image}}">
    {% else %}
    <img class="img-responsive item-image" src="{{STATIC_URL}}user/placeholder.jpg">
    {% endif %}
    </div>
    <h2>{{vendor.space_out}}</h2>
  </a>
    {% if vendor.description %}
    <p>{{vendor.description}}</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
